:not([id^="virtual"]) > div[role="gridcell"] > div.Panel > div:nth-of-type(2) {
  display: block !important;
  font-size: 12px;
  margin-top: 4px;
}

:not([id^="virtual"]) > div[role="grid"] {
  gap: var(--jh-grid-row-gap) 16px !important;;
}

:not([id^="virtual"]) > div[role="grid"]::after {
  content: "";
  display: block;
  height: 32px;
  grid-column: 1 / -1; /* span full row */
}
