div[role="gridcell"]>div.Panel>div[id^=":"] {
  display: block !important;
  font-size: 12px;
  margin-top: 4px;
}

div[role="grid"] {
  gap: var(--jh-grid-row-gap) 16px !important;
}

div[role="grid"]::after {
  content: "";
  display: block;
  height: 32px;
  grid-column: 1 / -1;
}